<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Unidades</th>
            <th>Observacion</th>
        </tr>
        <tr th:each=" producto : ${listaProductos}">
            <td th:text="${producto.nombre}"></td>
            <td th:text="${producto.unidades}"></td>
            <td th:text="${producto.observacion}"></td>
        </tr>

    </table>
    <a th:href="@{/formularioProducto}"	 id="add">Añadir Producto</a>

</body>
</html>